## ====================================================================
## .NET / C# / Visual Studio
## ====================================================================
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user
*.db-shm
*.db-wal

## ====================================================================
## Flutter / Dart
## ====================================================================
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Flutter Android
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/GeneratedPluginRegistrant.java
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# Flutter iOS
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/.symlinks/
**/ios/Pods/

# Flutter Windows / Linux / macOS Ephemeral
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/
**/macos/Flutter/ephemeral/

## ====================================================================
## IDEs & OS Files
## ====================================================================
.idea/
*.iml
.DS_Store
Thumbs.db
desktop.ini
*.log
